
body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}.footer{
    box-shadow: 3px 3px 5px rgba(0,0,0.1);
    background-color: rgb(162, 161, 161);
}