.navCategoryNameSection{
  display: flex;
  justify-content: space-evenly;
  position: relative;  
}
ul li{
  text-decoration: none;
   list-style-type: none;
   overflow: hidden;
   float: left;

}
.sectionsInLandingPage{
    padding: 15px;
    font-size: 20px;

  }
.slider-container {
  width: 1500px;            /* banner width */
  max-width: 100%;           /* responsive */
  height: 800px;            /* adjust height */
  margin: 10px auto;           /* center on screen */
  overflow: hidden;
  position: relative;
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.slider-track {
  display: flex;
  transition: transform 1s ease-in-out;
  transform: translateX(0);
}

.slide {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide img {
  width: 100% ;
  height: 100% ;
  object-fit: cover;
  border-radius: 16px;
}
.categorynameHeading{
  text-align: center;
  margin: 40px 40px;
  font-size: 30px;
}

.shopByCategory{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;  
}
.categoryImage{
  object-fit: cover;
  border: 1px solid gray;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
.categoryname{
  text-align: center;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 768px){
  .navCategoryNameSection{
  position: absolute;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  transform-origin: right top;

  }
   ul{
  display: inline-flex; 
  margin: 0;
  list-style: none;
  } 
  ul li {
  display: inline-block;
  padding: 10px;
  margin: 10px;
} 
.slider-container{
  height: 400px;  
}
.categoryImage{
  
}

}